<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>姓名</string>
	<key>education</key>
	<string>学历</string>
	<key>mobile</key>
	<string>移动电话</string>
	<key>address</key>
	<string>现居住地址</string>
</dict>
</plist>
